<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <ul th:replace="layout/layout :: sidebar"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <nav th:replace="layout/layout :: topbar"></nav>

        <!-- Begin Page Content -->
        <div class="container-fluid">
        
			<header th:replace="layout/layout :: header"></header>
          	<div th:replace="layout/layout :: page-heading"></div>

          <!-- Content Row -->
          <div class="row justify-content-center">

      		<div class="col-xl-8 col-lg-10">
              
            </div>
    	  </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer th:replace="layout/layout :: footer"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a th:replace="layout/layout :: scroll-top-button"></a>

</body>

</html>
