<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body class="bg-gradient-primary">
	<header th:replace="layout/layout :: header"></header>
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-cambiar-password"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-4" th:utext="#{texto.cambiar-password-temporal.h4.titulo}"></h4>
                  </div>
                  <form class="user" th:action="@{/cambiar-password-temporal}" method="POST" th:object="${cambiarPassword}">
                    <div class="form-row">
                      <div class="form-group col-12">
                      	<input type="password" class="form-control form-control-user" th:placeholder="#{texto.cambiar-password.password-actual}" 
                      		th:errorclass="is-invalid" th:classappend="${!#fields.hasErrors('passwordActual')} and ${submitted} ? is-valid" th:field="*{passwordActual}" autofocus />
                      	<div th:if="${#fields.hasErrors('passwordActual')}" th:errors="*{passwordActual}" class="invalid-feedback"></div>
						<div th:if="${!#fields.hasErrors('passwordActual')}" class="valid-feedback" th:text="#{texto.general.correcto}"></div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-12">
                      	<input type="password" class="form-control form-control-user" th:placeholder="#{texto.cambiar-password.password-nueva}" 
                      		th:errorclass="is-invalid" th:classappend="${!#fields.hasErrors('passwordNueva')} and ${submitted} ? is-valid" th:field="*{passwordNueva}" />
                      	<div th:if="${#fields.hasErrors('passwordNueva')}" th:errors="*{passwordNueva}" class="invalid-feedback"></div>
						<div th:if="${!#fields.hasErrors('passwordNueva')}" class="valid-feedback" th:text="#{texto.general.correcto}"></div>
                      </div>
                      <div class="form-group col-12">
                      	<input type="password" class="form-control form-control-user" th:placeholder="#{texto.cambiar-password.password-nueva-repite}" 
                      		th:errorclass="is-invalid" th:classappend="${!#fields.hasErrors('passwordNuevaRepite')} and ${submitted} ? is-valid" th:field="*{passwordNuevaRepite}" />
                      	<div th:if="${#fields.hasErrors('passwordNuevaRepite')}" th:errors="*{passwordNuevaRepite}" class="invalid-feedback"></div>
						<div th:if="${!#fields.hasErrors('passwordNuevaRepite')}" class="valid-feedback" th:text="#{texto.general.correcto}"></div>
                      </div>
                    </div>
                    <div class="form-row justify-content-center my-4">
                    	<div class="form-group col-12 col-md-6">
                    		<input type="submit" class="btn btn-primary btn-user btn-block" th:value="#{texto.general.modificar}">
                    	</div>
                    </div>
                  </form>
                  <hr>
                  <h6 class="font-weight-bold text-primary" th:utext="#{texto.cambiar-password.normas-password}"></h6>
                  <ul>
                  	<li th:utext="#{texto.cambiar-password.norma-1}"></li>
                  	<li th:utext="#{texto.cambiar-password.norma-2}"></li>
                  	<li th:utext="#{texto.cambiar-password.norma-3}"></li>
                  	<li th:utext="#{texto.cambiar-password.norma-4}"></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <footer th:replace="layout/layout :: footer"></footer>

</body>

</html>
