<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body class="bg-gradient-primary">
	<header th:replace="layout/layout :: header"></header>
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-restaurar-password"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h4 class="h4 text-gray-900 mb-5" th:utext="#{texto.resturar-password.h4.titulo}"></h4>
                  </div>
                  <form th:action="@{/restaurar-password}" class="user" method="POST" th:object="${restaurarPassword}">
							<div class="form-row">
                      			<div class="form-group col-12">
                      				<input type="text" class="form-control form-control-user" th:placeholder="#{texto.restaurar-password.placeholder.username}" 
                      						th:errorclass="is-invalid" th:classappend="${!#fields.hasErrors('nif')} and ${submitted} ? is-valid" th:field="*{nif}" autofocus />
                      				<div th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}" class="invalid-feedback"></div>
									<div th:if="${!#fields.hasErrors('nif')}" class="valid-feedback" th:text="#{texto.general.correcto}"></div>
                      			</div>
                    		</div>
							<div class="form-group my-5">
								<input type="submit" class="btn btn-primary btn-user btn-block" th:value="#{texto.restaurar-password.value.restaurar}">
							</div>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
					<hr>
                  	<h6 class="font-weight-bold text-primary" th:utext="#{texto.restaurar-password.instrucciones}"></h6>
                  	<ul>
                  		<li th:utext="#{texto.restaurar-password.instruccion-1}"></li>
                  		<li th:utext="#{texto.restaurar-password.instruccion-2}"></li>
                  	</ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <footer th:replace="layout/layout :: footer"></footer>

</body>

</html>
