<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<h3 th:text="#{texto.resturar-password.h4.titulo}"></h3>
	</header>
    <main>
        <section>
            <p><span th:text="#{texto.email.general.saludo}"></span>&nbsp;<strong><span th:text="${nombre}"></span></strong>:</p>
            <p><span th:text="#{texto.email.restaurar-password.linea-1}"></span> <a href='https://www.clubmaratoncaceres.org' target='_blank'>https://www.clubmaratoncaceres.org</a></p>
            <p><strong><span th:text="#{texto.general.usuario}"></span>:&nbsp;</strong><span th:text="${usuario}"></span></p>
            <p style='color: gray;'><i><span th:utext="#{texto.email.restaurar-password.linea-2}"></span></i></p>
            <p><strong><span th:text="#{texto.general.password-temporal}"></span>:&nbsp;</strong><span th:text="${password}"></span></p>
            <p th:text="#{texto.email.restaurar-password.linea-3}"></p>
            <p th:text="#{texto.email.general.despedida}"></p>
            <p><strong><span th:text="#{texto.email.general.firma}"></span></strong>.</p>
        </section>
    </main>
</body>
</html>